<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <p>The count is {{ count }}</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <h1>This is cool</h1>
      <p>Click the button...</p>
      <div class="button-container">
        <button (click)="incValue()">++</button>
        <button (click)="clearVal()">Clear count</button>
      </div>
    </div>
  </div>
</main>

<router-outlet />
